body {
  font-family: "Roboto", sans-serif;
  color: #333333;
}

a,
a:visited,
a:focus,
a:active {
  color: #009688;
  text-decoration: none;
}

.profile {
  width: 500px;
}

.profile h1 {
  text-align: center;
  font-size: 12pt;
}

.bolder {
  font-weight: 500;
}

.profile-left {
  vertical-align: top;
  display: inline-block;
}

.profile-right {
  margin-left: 20px;
  display: inline-block;
  width: 25%;
}

.profile-right img {
  width: 100%;
  border-radius: 50%;
}

.films {
  width: 100%;
}

.film {
  width: 23%;
  display: inline-block;
}

.film h3 {
  text-align: center;
}

.film img {
  width: 100%;
}
.films {
  display: flex;
  align-content: flex-end;
}
.film {
  margin: 10px;
}
.film img {
  width: 100%;
}
