body {
    background: aliceblue;
    color: midnightblue;
    font-family: Tahoma;
}

a {
    color: teal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2::before {
    content:"";
    margin-left: 25px;
}